body, html {
    height: 100%;
}
.bg {
    background-image: url("/src/images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.l-panel {
    height: 100vh;
}
.f-label {
    width: 70%;
}
.mynav{
    color: #fff;
}
.logo {
    margin-top: -20px;
    width: 80%;
}
.mynav li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}

.mynav li a.active{
    background: rgba(255,255,255,0.2);
}

.mynav li a:hover{
    background: rgba(255,255,255,0.2);
}

.mynav li a i{
    width: 25px;
    text-align: center;
}
.notification-badge{
    background-color: rgba(255,255,255,0.7);
    float: right;
    color: #222;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 2px;
}
.YBook {
    font-weight: bold;
    font-size: 30px;
}
.BIcon {
    width: 30px;
    margin-bottom: 12px;
}
.AddBook {
    font-size: 17px;
}
.liIcon {
    width: 26px;
}
.liBook {
    font-weight: bold;
    font-size: 20px;
}
.logout {
    font-weight: bold;
}
.bookmark {
    max-height: 340px;
    /* min-height: 40px; */
    height: auto;
}
.li-item {
    background-color: transparent;
    border: none;
}


/* search */
.search-bar::placeholder {
    text-align: center;
}
.search-left {
    border-radius: 20px 0 0 20px; 
    border: none;
}
.search-right {
    border-radius: 0 20px 20px 0; 
    background-color: white; 
    border: none;
}


/* main panel */
.main-panel {
    border-radius: 0 26px 26px 0;
    background-color: white;
    /* margin: 30px 40px 0 0; */
    height: 85%;
    width: 97%;
}   
.main {
    position: relative;
    height: 100%;
    width: 100%;
}
.grey-area {
    background-color: #D6D6D6;
    position: relative;
    height: 83%;
    border-radius: 26px;
    margin: 0 26px 0 20px;
}
.separator {
    background-color: #929292;
    border-radius: 10px;
    height: 15px;
}


.food {
    padding: 0 15px;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.navigation-btn {
    margin-top: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
}
.arrow-next, .arrow-prev {
    background-color: #D6D6D6;
    border: 2px solid #EE9C2D;
    background-color: #EE9C2D;
    border-radius: 16px;
    height: 100%;
    width: 10%;
}
.carousel-control-next {
    right: -50px;
    width: 10%;
}
.carousel-control-prev {
    left: -50px;
    width: 10%;
}
.card {
    border-radius: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    height: 263px;
}
.card-img {
    width: 100%;
    border-radius: 25px 25px 0 0 ;
}
.drawer-bar{
    align-items: center;
    justify-content: center;
    background-color: #ECEAEA;
    height: 4.9px;
    width: 87px;
    border-radius: 13px;
}
.card-body {
    background-color: #EE9C2D;
    border-radius: 25px;
    margin-top: -18px;
    font-weight: bold;
}