body, html {
    height: 100%;
}
.bg {
    background-image: url("/src/images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.container {
    max-width: 536px;
}
.logo {
    top: -5.8%;
}
.f-label {
    height: 30px;
    background-color: white;
    color: white;
}
.fl {
   border-top: 2px solid #F9A532; 
   border-left: 2px solid #F9A532; 
   border-bottom: 2px solid #F9A532;
   border-right: none;
   border-radius: 19px 0 0 19px;
}
.fr {
    border-top: 2px solid #F9A532; 
    border-right: 2px solid #F9A532; 
    border-bottom: 2px solid #F9A532; 
    border-radius: 0 19px 19px 0;
    background-color: white;
}
.half-circle {
    width: 245px;
    height: 122.5px; 
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    background-color: #f0f0f0; /* Background color */
    overflow: hidden; /* Hide the overflowing parts */
    left: 27.3%;
    top: -32.9%;
}
.fb {
    position: absolute;
}
.db {
    align-items: center;
    border: 1px solid black;
    translate: middle;
}