<div class="flex-fill">
    <div class="p-2 d-xl-none d-flex text-white bg-primary">
        <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
            <i class="fas fa-bars"></i>
        </a>
        <span class="ms-3">GetaMeal</span>
    </div>

    <!-- anything  -->
    <div class="container mt-4 mb-4" style="width: 80%;">
        <form action="/makanan/cari" class="input-group" method="GET" novalidate>
            <button data-bs-toggle="modal" data-bs-target="#headerModal" type="button" class="btn btn-outline-link" style="border-radius: 20px 0px 0px 20px; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);">
                <div class="row gutter-none">
                    <img src="/src/icon/kategori.svg" alt="">
                </div>
            </button>
            <input type="text" class="search-left form-control search-bar" name="cari" placeholder="Cari kuliner">
            <button  type="submit" class="search-right input-group-text"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <div class="modal fade" id="headerModal" tabindex="-1" aria-labelledby="headerModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/makanan/cari" method="GET">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="headerModalLabel">Pilih Kategori</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body overflow-y-auto" style="height: 60lvh;">
                        <% const kategori = ["mie", "asin", "pedas", "panas", "sayur", "lauk", "manis", "ayam", "kambing", "sapi", "goreng", "panggang", "kuah", "kering", "ikan"] %>
                        <% for (let k of kategori) { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%= k %>" name="kategori" id="check1">
                            <label class="form-check-label" for="flexCheckDefault">
                            <%= k %>
                            </label>
                        </div>
                        <hr>
                        <% } %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Cari</button>
                    </div>
                </form>
            </div>
        </div>
    </div>