<div class="flex-fill">
    <div class="p-2 d-xl-none d-flex text-white bg-primary">
        <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
            <i class="fas fa-bars"></i>
        </a>
        <span class="ms-3">GetaMeal</span>
    </div>

    <!-- anything  -->
    <div class="container mt-4 mb-4" style="width: 80%;">
        <form action="/makanan/cari" class="input-group" method="GET" novalidate>
            <button data-bs-toggle="modal" data-bs-target="#headerModal" type="button" class="btn btn-outline-link" style="border-radius: 20px 0px 0px 20px; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);">
                <div class="row gutter-none">
                    <img src="/src/icon/kategori.svg" alt="">
                </div>
            </button>
            <input type="text" class="search-left form-control search-bar" id="" placeholder="Cari kuliner">
            <button  type="submit" class="search-right input-group-text"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <div class="modal fade" id="headerModal" tabindex="-1" aria-labelledby="headerModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="headerModalLabel">Pilih Kategori</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check1">
                        <label class="form-check-label" for="flexCheckDefault">
                          Menu Sehat
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check2">
                        <label class="form-check-label" for="flexCheckDefault">
                          Makanan
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check3">
                        <label class="form-check-label" for="flexCheckDefault">
                          Minuman
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check4">
                        <label class="form-check-label" for="flexCheckDefault">
                          Menu Hemat
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check5">
                        <label class="form-check-label" for="flexCheckDefault">
                          Aneka Nasi
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check6">
                        <label class="form-check-label" for="flexCheckDefault">
                          Jajanan
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check7">
                        <label class="form-check-label" for="flexCheckDefault">
                          Seafood
                        </label>
                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>