<%- include('../partials/modals') %>

<div class="flex-fill">
    <div class="p-2 d-xl-none d-flex text-white bg-primary">
        <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
            <i class="fas fa-bars"></i>
        </a>
        <span class="ms-3">GetaMeal</span>
    </div>

    <!-- anything  -->
    <div class="container mt-4 mb-4" style="width: 80%;">
        <form action="" class="input-group">
            <button data-bs-toggle="modal" data-bs-target="#headerModal" type="button" class="btn btn-outline-link" style="border-radius: 20px 0px 0px 20px; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);">
                <div class="row gutter-none">
                    <img src="/src/icon/kategori.svg" alt="">
                </div>
            </button>
            <input type="text" class="search-left form-control search-bar" id="" placeholder="Cari kuliner">
            <button type="submit" class="search-right input-group-text"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>