<div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-primary text-white offcanvas-xl offcanvas-start overflow-y-auto" style="width: 382px;">
            
    <a href="/makanan/rekomendasi" class="navbar-brand">
        <div class="row d-flex justify-content-center">
            <div class="logo col-12 d-flex justify-content-center">
                <img src="/src/icon/logo.svg" class="f-label">
            </div>
            <div class="logo col-12 d-flex justify-content-center">
                <img src="/src/icon/GetaMeal.svg" class="f-label">
            </div>
        </div>
    </a>

    <div class="text-center mt-4">
        <button onclick="window.location.href = '/bookmark'" type="button" class="btn btn-outline-link mt-3">
            <img class="BIcon px-0" src="/src/icon/YourBookmark.svg" alt="">
            <span class="col-10 YBook text-white">Your Bookmark</span>
        </button>
    </div>

    <div class="row mx-4" style="height: 100%;">
        
        
        <div class="bookmark col-12 overflow-y-auto">
            <!-- Bagian list bookmark -->
            <hr class="my-0 opacity-100 my-auto sticky-top">
            <ul class="list-group">

                <% for (let i=0; i<bookmark.length; i++) { %>
                <li class="list-group-item li-item">
                    <a href="/bookmark/<%= bookmark[i]._id %>">
                        <img class="liIcon px-0 col-1 align-middle" src="/src/icon/star.svg">
                        <span class="ms-3 liBook px-0 col-10 align-middle" style="color: white;"><%= bookmark[i].judul_bookmark %></span>
                    </a>
                </li>

                <% } %>

            </ul>
            
        </div>
        
        <div class="col-12">
            <hr class="opacity-100 my-auto">
            <button data-bs-toggle="modal" data-bs-target="#addBookmarkModal" class="btn btn-outline-link">
                <div class="row gutter-none">
                    <img class="AddIcon px-0 col-2 text-white" src="/src/icon/plus.svg">
                    <span class="AddBook px-0 col-10 text-white">Add Bookmark</span>
                </div>
            </button>
        </div>
        
        <div class="col-12  d-flex">
            <div class="text-center align-items-end d-flex mx-auto mb-2">
                <a href="/logout" id="logout" class="btn btn-light align-items-end"><span class="logout px-5">LOGOUT</span></a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/modals') %>
